<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TIENDA LUCI|Tienda de aborrotes</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link rel="icon" th:href="@{/img/LuciIcon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
   
        <link rel="stylesheet" th:href="@{/css/interfaz.css}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  </head>
  <body style="background-image: url('/img/naranja.jpg');">
	  
  <header th:insert="fragmentos/menu.html::menu-principal">
		
	</header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos de producto</strong></h4>  <br>
                      
          <div class="card-body">
            <form method="post" th:action="@{/productos/guardar}" th:object="${producto}">              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="hidden" th:field="*{id_prod}"> 
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Nombre del producto" required="required">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3"> 
                    <div class="form-group">
                      <label for="nombre">Marca</label>
                      <input type="text" class="form-control" th:field="*{marca}" id="nombre" name="nombre" placeholder="Marca del producto" required="required">
                    </div>
                  </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" name="descripcion" placeholder="Breve descripcion del producto" required="required">
                  </div> 
                </div>    
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoría</label>
                   <select class="form-control" th:field="*{categoria.id_cat}" name="categoria" id="categoria">
                      <option th:each="categoria: ${categorias}"
                      th:value="${categoria.id_cat}"
                      th:text="${categoria.nombre}"></option>
                    </select>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="salario">Precio</label>
                    <input type="text" class="form-control" th:field="*{precio}" name="salario" id="salario" placeholder="Precio del producto." required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="archivoImagen">Imagen</label>
                    <input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
                  </div>
                </div>
              </div> 
              <hr>
         
                <div class="col-md-3">
                  <label for="imagen">Vista imagen</label>
                  <img class="rounded mx-auto d-block" th:src="@{/images/{img}(img=${producto.imagen})}" alt="Generic placeholder image" width="200" height="200">                       
                </div>
              </div> 
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2023 TIENDA LUCI | TIENDA ABARROTE; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>    
    <script src="tinymce/tinymce.min.js"></script>
    <script>
      
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      /*
      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
      */
      
    </script>
  </body>
</html>