<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TIENDA LUCI</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="icon" th:href="@{img/LuciIcon.png}" type="image/png">
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
    <header th:insert="fragmentos/header.html::menu-principal">
		
	</header>
    <section class="header-top">
        <div class="container">
            <div class="row">
               
                <div class="col-md-4">
                    <div class="icon">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                       <a href="#"><i class="fa fa-twitter"></i></a>
                       <a href="#"><i class="fa fa-google-plus"></i></a>
                       <a href="#"><i class="fa fa-linkedin"></i></a>
                       <a href="#"><i class="fa fa-wifi"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="a-right">
                        <a href="login.html"><p><span><i class="fa fa-user"></i></span>Iniciar sesison</p></a>
                        <a href="registro.html"><p><span><i class="fa fa-pencil"></i></span>Registerarse</p></a>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <head>
        <title>Menu Desplegable</title>
        <style th:insert="fragmentos/style.html">
		
	</style> 
    <section class="team">
       <div class="clear"></div>
        <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <h2>P R O M O C I O N E S </h2>
               </div>
           </div>
            <div class="row">
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/lechenutri.jpg}">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i></a>
                      
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Leche Nutri</h3>
                    <p>2x1</p>
                    <p>$27</p>
                </div>
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/quesoamarillo.png}">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i></a>
                       
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Queso amarillo</h3>
                    <p>3 x 1</p>
                    <p>$35</p>
                </div>
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/nutriaceite.jpg}">
                    <div class="icon">
                        <a href="#"><i class= "fa fa-cart-arrow-down"></i></a>
                       
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Aceite Nutrioli</h3>
                    <p>2 x 1</p>
                    <p>$65</p>
                </div>
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/frijoles.jpg}">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i></a>
                     
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Frijoles la costeña</h3>
                    <p> 1</p>
                    <p>$15</p>
                </div>
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/hot.jpg}">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i></a>
                 
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Harina Tres Estrellas</h3>
                    <p>3 x 2</p>
                    <p>$100</p>
                </div>
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/quesooxaca.jpg}">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i></a>
                       
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Queso oaxaca Los volcanes</h3>
                    <p>2 x 1</p>
                    <p>$67</p>
                </div>
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/panparamabbursas.jpg}">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i></a>
                        
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Pan de Hambuersas</h3>
                    <p>5 x 1</p>
                    <p>$200</p>
                </div>
                <div class="col-md-3">
                   <div class="teams">
                        <img th:src="@{/img/choko.jpg}">
                    <div class="icon">
                        <a href="#"><i class="fa fa-cart-arrow-down"></i></a>
                       
                    </div>
                    <div class="overlay"></div>
                </div>
                    <h3>Cereal choko krispi</h3>
                    <p>2 x 1</p>
                    <p>$100</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="footer-contact">
                            <h2>C O N T A C T A N O S</h2>
                            <a href="#"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Angel de la Indepencia,Nezahualcoyotl</p></a>
                            <a href="#"><p><i class="fa fa-phone" aria-hidden="true"></i>+52 5564673255</p></a>
                            <a href="#"><p><i class="fa fa-envelope" aria-hidden="true"></i>tiendaluci@gmail.com</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   <div class="footer_bottom">
      <div class="footer_overlay"></div>
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <div class="copy_txt">
                       <p>Copyright © 2014  TIENDA ABARROTES LUCI</p>
                   </div>
               </div>
            
               </div>
           </div>
       </div>
   </div>
</footer>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
<script src="js/bootstrap.min.js"></script>  
<script src="js/active.js"></script>  
</body>
</html>
