<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TIENDA LUCI|Tienda de aborrotes</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins}" rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="icon" th:href="@{/img/LuciIcon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
   
        <link rel="stylesheet" th:href="@{/css/interfaz.css}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  </head>

  <body>
    <head>
      <meta charset="UTF-8">
      <title>TIENDA LUCI</title>
      <link th:href="@{https://fonts.googleapis.com/css?family=Poppins}" rel="stylesheet">
      <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900}" rel="stylesheet">
      <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
      <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
      <link rel="icon" th:href="@{/img/LuciIcon.png}" type="image/png">
      <link rel="stylesheet" th:href="@{/style.css}">
      <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
  <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
  <!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  </head>
  <body style="background-image: url('/img/naranja.jpg');">
	  
  <header th:insert="fragmentos/menu.html::menu-principal">
		
	</header>
              <div class="row">
                  <div class="col-md-12">
                     <div class="header-part">   
                       <h4 class="card-header"><strong>Datos del empleado</strong></h4> 
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
                     
          <div class="card-body">
            <form method="post" th:action="@{/empleados/guardar}" th:object="${empleado}">              
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="hidden" th:field="*{id_emp}">
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Escriba el nombre" required="required">
                  </div>
                </div>                
              </div> 
              <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Apellido paterno</label>
                    <input type="text" class="form-control" th:field="*{a_paterno}" id="nombre" name="nombre" placeholder="Escriba el apellido materno" required="required">
                  </div>
                </div>                
              </div>
              <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="nombre">Apellido materno</label>
                    <input type="text" class="form-control" th:field="*{a_materno}" id="nombre" name="nombre" placeholder="Escriba el apellido paterno" required="required">
                  </div>
                </div>                
              </div>
              <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Correo electronico</label>
                    <input type="text" class="form-control" th:field="*{correo}" id="nombre" name="nombre" placeholder="Escriba el correo electronico" required="required">
                  </div>
                </div>                
              </div>
              <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Número de teléfono</label>
                    <input type="text" class="form-control" th:field="*{num_tel}" id="nombre" name="nombre" placeholder="Escriba el número de teléfono" required="required">
                  </div>
                </div>                
              </div>
              <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Cargo</label>
                    <input type="text" class="form-control" th:field="*{cargo}" id="nombre" name="nombre" placeholder="Escriba el cargo" required="required">
                  </div>
                </div>                
              </div>
              <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Edad</label>
                    <input type="text" class="form-control" th:field="*{edad}" id="nombre" name="nombre" placeholder="Escriba la edad" required="required">
                  </div>
                </div>                
              </div>
              <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Sexo</label>
                    <input type="text" class="form-control" th:field="*{sexo}" id="nombre" name="nombre" placeholder="Maculino o Femenino" required="required">
                  </div>
                </div>                
              </div>
              <hr>
              <button type="submit" title="Guardar el registro." class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; TIENDA LUCI | &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
