<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TIENDA LUCI|Tienda de aborrotes</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link rel="icon" th:href="@{/img/LuciIcon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
   
        <link rel="stylesheet" th:href="@{/css/interfaz.css}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  </head>
  <body style="background-image: url('/img/naranja.jpg');">
	  
 <header th:insert="fragmentos/menu.html::menu-principal">
		
	</header>
	
    <main role="main" >     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Empleados</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/empleados/nueva}"  role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido Paterno</th>
                  <th scope="col">Apellido Materno</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Cargo</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Sexo</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr th:each="empleado : ${empleados}">
                  <th scope="row" th:text="${empleado.id_emp}"></th>
                  <td th:text="${categoria.nombre}"></td>
                  <td th:text="${categoria.a_paterno}"></td>
                  <td th:text="${categoria.a_materno}"></td>
                  <td th:text="${categoria.correo}"></td>
                  <td th:text="${categoria.num_tel}"></td>
                  <td th:text="${categoria.cargo}"></td>
                  <td th:text="${categoria.edad}"></td>
                  <td th:text="${categoria.sexo}"></td>
                  <td>
					<a th:href="@{/empleados/buscar(id=${empleado.id_emp})}" class="btn btn-success btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
					<a th:href="@{/empleados/eliminar(id=${empleado.id_emp})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>         
              </tbody>
            </table>
            <tfoot>
				  <td>
					  <td colspan="4" th:text="'Total de registro: ' +${total}"></td>
				  </tr>
			  </tfoot>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2023 TIENDA LUCI | &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>